@import "../global/responsive.scss";
@import "../global/variable.scss";

.main {
  width: min(100%, 767px);
  background-color: white;
  margin: 5rem auto;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: black;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 2px 15px rgb(63, 63, 63);
  font-size: 1.15rem;

  .backLink {
    display: inline-block;
    margin-top: 2rem;
  }

  @include mqUp(md) {
    margin: 0;
    width: 100%;
    border: none;
    padding: 20px;
    box-shadow: none;
  }

  a {
    color: $c-link;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }

  a::after {
    position: absolute;
    bottom: 0em;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: $c-link;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }

  a:hover::after {
    transform: scale(1, 1);
  }

  .date {
    color: $c-dimText;
    margin-left: 1em;
  }

  .author {
    color: $c-dimText;
    margin-left: 1em;
  }

  .contents {
    margin-top: 20px;
    margin-left: 1em;

    p:not(:last-child) {
      margin-bottom: 5px;
    }

    img {
      width: 70%;
      @include mqUp(md) {
        width: 100%;
      }
    }

    hr {
      border: none;
      background-color: #fff;
      border-width: 1px 0 0 0;
      border-top: dotted;
      border-color: $c-dimText;
    }

    li:not(:last-child) {
      margin-bottom: 5px;
    }

    li {
      list-style: circle;
    }

    code {
    }

    pre {
      > code {
      }
    }
  }
}
