// Color

$c-blue: #7A9CC6 !default;
$c-lBlue: #9FBBCC !default;
$c-grass: #B3D2B2 !default;
$c-green: #BDE4A7 !default;
$c-yellow: #FFFD98 !default;

$c-text: #000 !default;
$c-wText: #fff !default;
$c-dimText: #333 !default;
$c-link: #7A9CC6 !default;

$c-bhead: rgba(255, 253, 152, 0.705)